########################
# sails
########################
.sails
.waterline
.rigging
.tmp


########################
# node.js / npm
########################
lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz

pids
logs
results

uploads/avatars/*

node_modules
npm-debug.log
config/local.js

Capfile
config/deploy.rb